.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #9c0343 ;
  border-color: #9c0343 ;
  color: #fff;
  border-radius:20px;
}
.pagination > li > a{
  
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-radius:20px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #9c0343 ;
  border-color: #9c0343;
  border-radius:20px;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #9c0343
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: 20px;
}